<ion-view title="camera_popup" hide-nav-bar="true" ng-controller="photoCtrl" hide-back-button="true" id="page3" class=" ">
  <ion-content padding="true" class="manual-ios-statusbar-padding">

<h5 style="color:#000000;text-align:center;"> Take Photo Or Choose From Gallery </h5>
      <div class="button-bar" >
  <button id="register2-button5" ng-click="fetchPhoto(true, type)" class=" button button-positive button-small">Camera</button>

  <button  id="register2-button5"  ng-click="fetchPhoto(false, type)" class=" button button-calm button-small">Gallery</button>

  </div>

</ion-content>
</ion-view>
