<ion-view title="register" hide-nav-bar="true" hide-back-button="true" id="page3" class=" ">

  <ion-content padding="true" style="margin:10px;" >
    <h3 id="terms-heading4" style="color:#000000;text-align:center;" class=" "
    >Help
  </h3>

  <h4 style="color:#000000;text-align:center;">{{"HELP_INFO" | translate}}</h4>

  <ion-list class="list item-text-wrap" >
       <label class="item"><strong> {{"HELP_SURNAME" | translate}} </strong> {{"HELP_SURNAME_TEXT" | translate}} </label>
      <label class="item"> <strong>{{"HELP_NAME" | translate}}</strong> {{"HELP_NAME_TEXT" | translate}} </label>
       <label class="item"> <strong> {{"HELP_NICKNAME" | translate}} </strong> {{"HELP_NICKNAME_TEXT" | translate}} </label>
       <label class="item"> <strong> {{"HELP_EMAIL" | translate}} </strong>{{"HELP_EMAIL_TEXT" | translate}} </label>
      <label class="item"> <strong> {{"HELP_ID" | translate}} </strong> {{"HELP_ID_TEXT" | translate}} </label>

      <label class="item"> <strong> {{"HELP_DATE" | translate}} </strong> {{"HELP_DATE_TEXT" | translate}} </label>

    <label class="item"> <strong> {{"HELP_CELL" | translate}} </strong> {{"HELP_CELL_TEXT" | translate}} </label>

    <label class="item"> <strong> {{"HELP_DEV" | translate}} </strong> {{"HELP_DEV_TEXT" | translate}} </label>

    <label class="item"> <strong> {{"HELP_PASSWORD" | translate}} </strong> {{"HELP_PASSWORD_TEXT" | translate}} </label>



</ion-list>


  <button id="register2-button5"  ng-click="popover.hide()" class=" button button-positive button-large button-block">OK</button>
      </form>

</ion-content>
</ion-view>
