<ion-view title="personal_details" hide-nav-bar="true" id="page2" class=" " >
    <ion-content padding="true" class="manual-ios-statusbar-padding"  >

        <form name="userForm" class="item-text-wrap" novalidate>

            <h2 id="register1-heading3" style="color:#000000;text-align:center;" class="header">Abalobi Register</h2>

            <h3 id="register1-heading4" ng-hide="user.usertype == 'co_op'"style="color:#000000;text-align:center; margin-top:5px;" class=" ">{{"PERSONAL_TITLE_ALL" | translate}}</h3>

            <h3 id="register1-heading4" ng-hide="user.usertype != 'co_op'" style="color:#000000;text-align:center; margin-top:5px;" class=" ">{{"PERSONAL_TITLE_CO" | translate}} </h3>



            <h5 style="color:#000000;text-align:center; margin-top:5px;" class=" ">{{"PERSONAL_REQUIRED" | translate}}</h5>

            <button ng-click="help()" class="button icon-right ion-help">Help</button>

            <ion-list id="register1-list1" class=" " >

                <label class="item item-input item-stacked-label " id="register1-input1">
                    <span class="input-label item-text-wrap">{{"PERSONAL_SURNAME_LABEL" | translate}}</span>
                    <input type="text" ng-model="user.surname" placeholder="{{'PERSONAL_SURNAME_PH' | translate}}" name="Surname" required >
                    <span class="help-block" style="color:red"
                    ng-show="userForm.Surname.$invalid && userForm.Surname.$touched">{{"PERSONAL_REQUIRED_FIELD" | translate}}</span>
                </label>

                <label class="item item-input item-stacked-label " id="register1-input2">
                    <span class="input-label">{{"PERSONAL_NAME_LABEL" | translate}}</span>
                    <input type="text" ng-model="user.name" placeholder="{{'PERSONAL_NAME_PH' | translate}}" name="Name" required>
                    <span class="help-block" style="color:red" ng-class="{ 'has-error': userForm.Name.$touched && userForm.Name.$invalid }"
                    ng-show="userForm.Name.$invalid && userForm.Name.$touched">{{"PERSONAL_REQUIRED_FIELD" | translate}}</span>
                </label>

                <label class="item item-input item-stacked-label " id="register1-input2">
                    <span class="input-label">{{"PERSONAL_NICKNAME_LABEL" | translate}}</span>
                    <input type="text" ng-model="user.nickname" placeholder="{{'PERSONAL_NICKNAME_PH' | translate}}" name="Nickame" >
                </label>

                <label class="item item-input item-stacked-label " id="register1-input4">
                    <span class="input-label">{{"PERSONAL_EMAIL_LABEL" | translate}}</span>
                    <input type="email" ng-model="user.email" placeholder="{{'PERSONAL_EMAIL_PH' | translate}}" name="Email" >
                    <span class="help-block" style="color:red"
                    ng-show="userForm.Email.$invalid && userForm.Email.$touched && !userForm.Email.$pristine ">{{"PERSONAL_EMAIL_IV" | translate}}</span>
                </label>

                <label class="item item-input item-stacked-label " id="register1-input3">
                    <span class="input-label">{{"PERSONAL_ID_LABEL" | translate}}</span>
                    <input type="text" ng-model="user.id" placeholder="{{'PERSONAL_ID_PH' | translate}}" name="ID"
                    required>
                    <span class="help-block" style="color:red" ng-class="{ 'has-error': userForm.ID.$touched && userForm.ID.$invalid }"
                    ng-show="!checkID(user.id) && userForm.ID.$touched ">{{"PERSONAL_ID_IV" | translate}}</span>
                </label>

                <label class="item item-input item-stacked-label " id="register1-input4">
                    <span class="input-label">{{"PERSONAL_DATE_LABEL" | translate}}</span>
                    <input type="date" required ng-model="user.birth_date" placeholder="" >
                    <span class="help-block" name="Birth_Date" style="color:red" ng-class="{ 'has-error': userForm.Birth_Date.$touched && userForm.Birth_Date.$invalid }"
                    ng-show="userForm.Birth_Date.$touched">{"PERSONAL_REQUIRED_FIELD" | translate}}</span>
                </label>

                <label class="item item-input item-stacked-label " id="register2-input5">
                    <span class="input-label">{{"PERSONAL_CELL_LABEL" | translate}}</span>
                    <input type="tel" name="cell" ng-model="user.cell"
                    ng-minlength="10"
                    ng-maxlength="10" required placeholder="{{'PERSONAL_CELL_PH' | translate}}">
                    <span class="help-block" style="color:red" ng-class="{ 'has-error': userForm.cell.$touched && userForm.cell.$invalid }"
                    ng-show="userForm.cell.$invalid && userForm.cell.$touched">{{"PERSONAL_CELL_IV" | translate}}</span>
                </label>
            </label>


            <!-- Device cell number (for monitor and Co-op) -->
            <label class="item item-input item-stacked-label " ng-show="user.usertype == 'monitor' || user.usertype == 'co_op'" id="register2-input5">
                <span class="input-label">{{"PERSONAL_DEV_CELL_LABEL" | translate}}</span>
                <input  type="tel" name="cell_dev" ng-model="user.cell_dev"
                ng-minlength="10"
                ng-maxlength="10"  ng-required="user.usertype == 'monitor' || user.usertype == 'co_op'" placeholder="{{'PERSONAL_DEV_CELL_PH' | translate}}">
                <span class="help-block" style="color:red" ng-class="{ 'has-error': userForm.cell.$touched && userForm.cell.$invalid }"
                ng-show="userForm.cell_dev.$invalid && userForm.cell_dev.$touched">{{"PERSONAL_CELL_IV" | translate}}</span>
            </label>

            <label class="item item-input item-stacked-label " id="register2-input6">
                <text  class="input-label item-text-wrap">{{"PERSONAL_PASSWORD_LABEL" | translate}}</text>
                <input type="password" name="password" ng-model="user.password"
                ng-minlength="6" required=""  placeholder="{{'PERSONAL_PASSWORD_PH' | translate}}">
                <span class="help-block" style="color:red" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }"
                ng-show="userForm.password.$invalid &&  userForm.password.$touched">{{"PERSONAL_PASSWORD_IV" | translate}}</span>
            </label>

            <label class="item item-input item-stacked-label " id="register2-input7">
                <span class="input-label">{{"PERSONAL_REPASSWORD_LABEL" | translate}}</span>
                <input type="password"  name="password1" ng-model="password1" placeholder="{{'PERSONAL_REPASSWORD_PH' | translate}}" required="">
                <span class="help-block" style="color:red"
                ng-show="!match(password1) && userForm.password1.$touched" >{{"PERSONAL_REPASSWORD_IV" | translate}}</span>
            </label>
        </ion-list>

        <!-- Next button (for fishers) - goes to fisher-info page -->
        <a  id="register1-button3"  ng-click="next()"
        ng-disabled="userForm.$invalid || !match(password1)"
        class=" button button-positive button-block ">{{"GEN_NEXT" | translate}}</a>


    </form>


</ion-content>
</ion-view>
